.container{
    display: flex;
    margin-top: 90px;
    justify-content: space-around;
    margin-bottom: 20px;
}
.item{
    width: 850px; 
}

.item p{
    text-align: justify;
}
.item img{
    margin-bottom: 10px;
}
h2{
    margin-bottom: 20px;
}
@media (max-width:1200px) {
    html{
        overflow-x: hidden;
    }
}
@media (max-width: 1000px) {
    .container{
        flex-direction: column;    
    }
}
@media (min-width: 100px) and (max-width: 1000px) {
    .container .item{
        width: auto;
    }
    
}