.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
h1{
    margin-top: 100px;
    margin-bottom: 30px;
}
.item{
    width: 30%;
    height: 30%;
    margin-bottom: 30px;
}
@media (max-width:1200px) {
    html{
        overflow-x: hidden;
    }
}
@media (max-width: 1000px) {
    .container{
        flex-direction: column;    
    }
}
@media (min-width: 100px) and (max-width: 1000px) {
    .container .item{
        width: auto;
    }
    
}
